# Virtual environment
.venv-cred-api/venv/
venv
env

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Data files
data/

# Saved models
models/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db